/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light grey background */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* White container background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #007bff; /* Blue button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Navbar Styles */
.navbar {
  background-color: #007bff; /* Blue navbar */
  padding: 15px 0;
}

.navbar-brand img {
  display: block;
  margin: 0 auto;
}

.navbar-toggler {
  border: none;
  color: #fff;
}

/* Additional Styles */
.bg-body-tertiary {
  background-color: #f8f9fa !important; /* Light grey background */
}

.shadow-lg {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
