

nav a {
   float: left;
   display: block;
   color: #070505;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: x-large;
   justify-content: flex-start;
}


 .list-items ul li a{
    color: black;
 }
 .list-items ul li a:hover{
    transform: translateY(-1px);
 }

 
 
 