<html>
    <head>
        <title>Womens</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='women.css') }}">
        <link rel="icon" type="images/x-icon" href="{{ url_for('static', filename='myntra-logo.png') }}">
       
    </head>
<link rel="stylesheet" type="text/css" href="women.css"><div class="products-page">
    <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='myntra-logo.png') }}" alt="image" width="60" height="60"></a>
    <div class="products-header">
        <h2>Womens products</h2>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search for products" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
    </div>

    <div class="products-container">
        <div class="product-card">
            <img src="{{ url_for('static', filename='images/women/1.jpg') }}" alt="image" width="60" height="60"></a>
             <h3>stylish top</h3>
            <p>$99.99</p>
            <a href="/cart"><button>Add to Cart</button></a>
         </a>
    </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='images/women/2.webp') }}" alt="image" width="60" height="60"></a>
            <h3>Traditional top</h3>
            <p>$79.99</p>
            <a href="/cart"><button>Add to Cart</button></a>
            </a>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='images/women/3.webp') }}" alt="image" width="60" height="60"></a>
            <h3>Traditional top</h3>
            <p>$59.99</p>
            <a href="/cart"><button>Add to Cart</button></a>
            </a>
        </div>
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='images/women/4.webp') }}" alt="image" width="60" height="60"></a>
            <h3>Traditional top</h3>
            <p>$59.99</p>
            <a href="/cart"><button>Add to Cart</button></a>
            </a>
        </div>

        <div class="product-card">
            <img src="{{ url_for('static', filename='images/women/5.webp') }}" alt="image" width="60" height="60"></a>
            <h3>Traditional top</h3>
            <p>$59.99</p>
            <a href="/cart"><button>Add to Cart</button></a>
            </a>
        </div>
    </div>
</div>
</html>
    